@use "sass:map";
@use "colors";

$white: map.get(colors.$colors, "base", "white");
$brand-500: map.get(colors.$colors, "brand", "500");
$error-500: map.get(colors.$colors, "error", "500");
$gray-950: map.get(colors.$colors, "gray", "950");

$focus-rings: (
  "focus-ring": (
    0 0 0 2px $white,
    0 0 0 4px $brand-500
  ),
  "focus-ring-error": (
    0 0 0 2px $white,
    0 0 0 4px $error-500
  ),
  "focus-ring-shadow-xs": (
    0 0 0 2px $white,
    0 0 0 4px $brand-500,
    0 1px 2px 0 rgba($gray-950, 0.05)
  ),
  "focus-ring-shadow-sm": (
    0 0 0 2px $white,
    0 0 0 4px $brand-500,
    0 1px 2px 0 rgba($gray-950, 0.06),
    0 1px 3px 0 rgba($gray-950, 0.10)
  ),
  "focus-ring-error-shadow-xs": (
    0 0 0 2px $white,
    0 0 0 4px $error-500,
    0 1px 2px 0 rgba($gray-950, 0.05)
  ),
  "focus-ring-shadow-xs-skeuomorphic": (
    0 0 0 2px $white,
    0 0 0 4px $brand-500,
    0 1px 2px 0 rgba($gray-950, 0.05),
    inset 0 -2px 0 0 rgba($gray-950, 0.05),
    inset 0 0 0 1px rgba($gray-950, 0.18)
  ),
  "focus-ring-error-shadow-xs-skeuomorphic": (
    0 0 0 2px $white,
    0 0 0 4px $error-500,
    0 1px 2px 0 rgba($gray-950, 0.05),
    inset 0 -2px 0 0 rgba($gray-950, 0.05),
    inset 0 0 0 1px rgba($gray-950, 0.18)
  )
);
