@use "sass:map";
@use "colors";

$gray-950: map.get(colors.$colors, "gray", "950");

$shadows: (
  "xs": (0 1px 2px 0 rgba($gray-950, 0.05)),
  "sm": (0 1px 2px -1px rgba($gray-950, 0.10), 0 1px 3px 0 rgba($gray-950, 0.10)),
  "md": (0 2px 4px -2px rgba($gray-950, 0.06), 0 4px 6px -1px rgba($gray-950, 0.10)),
  "lg": (0 2px 2px -1px rgba($gray-950, 0.04), 0 4px 6px -2px rgba($gray-950, 0.03), 0 12px 16px -4px rgba($gray-950, 0.08)),
  "xl": (0 3px 3px -1.5px rgba($gray-950, 0.04), 0 8px 8px -4px rgba($gray-950, 0.03), 0 20px 24px -4px rgba($gray-950, 0.08)),
  "2xl": (0 4px 4px -2px rgba($gray-950, 0.04), 0 24px 48px -12px rgba($gray-950, 0.18)),
  "3xl": (0 5px 5px -2.5px rgba($gray-950, 0.04), 0 32px 64px -12px rgba($gray-950, 0.14))
);
