@use "sass:map";

$spacing-scale: (
  "0": 0,
  "0.5": 2px,
  "1": 4px,
  "2": 8px,
  "3": 12px,
  "4": 16px,
  "5": 20px,
  "6": 24px,
  "8": 32px,
  "10": 40px,
  "12": 48px,
  "16": 64px,
  "20": 80px,
  "24": 96px,
  "32": 128px,
  "40": 160px,
  "48": 192px,
  "56": 224px,
  "64": 256px,
  "80": 320px,
  "96": 384px,
  "120": 480px,
  "160": 640px,
  "180": 720px,
  "192": 768px,
  "256": 1024px,
  "320": 1280px,
  "360": 1440px,
  "400": 1600px,
  "480": 1920px
);

$spacing: (
  "none": map.get($spacing-scale, "0"),
  "3xs": map.get($spacing-scale, "0.5"),
  "2xs": map.get($spacing-scale, "1"),
  "xs": map.get($spacing-scale, "2"),
  "sm": map.get($spacing-scale, "3"),
  "md": map.get($spacing-scale, "4"),
  "lg": map.get($spacing-scale, "5"),
  "xl": map.get($spacing-scale, "6"),
  "2xl": map.get($spacing-scale, "8"),
  "3xl": map.get($spacing-scale, "10"),
  "4xl": map.get($spacing-scale, "12"),
  "5xl": map.get($spacing-scale, "16"),
  "6xl": map.get($spacing-scale, "20"),
  "7xl": map.get($spacing-scale, "24"),
  "8xl": map.get($spacing-scale, "32"),
  "9xl": map.get($spacing-scale, "40"),
  "section-sm": map.get($spacing-scale, "48"),
  "section-md": map.get($spacing-scale, "64"),
  "section-lg": map.get($spacing-scale, "80"),
  "section-xl": map.get($spacing-scale, "96"),
  "container-sm": map.get($spacing-scale, "120"),
  "container-md": map.get($spacing-scale, "160"),
  "container-lg": map.get($spacing-scale, "192"),
  "container-xl": map.get($spacing-scale, "256")
);
