@use "partials/tokens/colors" as *;
@use "partials/buttons" as *;

@use "partials/tokens/colors" as *;
@use "partials/tokens/focus-rings" as *;
@use "partials/tokens/functions" as *;
@use "partials/tokens/radius" as *;
@use "partials/tokens/shadows" as *;
@use "partials/tokens/spcing" as *;